<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <style>
          #ABC {
      background-color: black;
    }
  </style>
  
  
</head>
<body>

    <section id="ABC">
        <form action="#" method="post">
            <br></br>
            <p style="color:white; text-align:left;">Enter your text</p>
            <p><input type="text" name="smartm" /></p>
        </form>
      </section>

    
      
      
    </body>
    </html>